body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin: 1rem 0;
}

.card {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 0;
}

img {
    padding: .8rem;
    height: 350px;
    object-fit: contain;
}

a, a:hover{
    color: black;
    text-decoration: none;
}